nav {
  display: flex;
  padding: 2% 4%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

nav img {
  width: 150px;
}

.nav-links {
  position: absolute;
  background: #f44336;
  height: 100vh;
  width: -1px;
  visibility: hidden;
  right: 0px;
  top: 0;
  text-align: left;
  z-index: 2;
  padding: 20px 30px;
}

.nav-links.active {
  width: 200px;
  right: 0px;
  visibility: visible;
}

.nav-links ul li {
  width: 100%;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.nav-links ul {
  list-style: none;
  padding: 0px;
  margin-top: 15px;
}

.nav-bar{
  background:#777;
}

.icon {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}

.icon-button {
    border: 0px;
    background: transparent;
}

@media (min-width: 700px) {
  .nav-links {
    position: absolute;
    background: transparent;
    height: 100vh;
    width: -1px;
    visibility: visible;
    right: 0px;
    top: 0;
    text-align: left;
    z-index: 2;
    padding: 20px 30px;
  }
  
  .nav-links ul{
    display: flex;
  }



  .nav-links ul li {
    display: inline;
    padding: 8px 12px;
    position: relative;
  }

  .nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .nav-links ul li::after{
    content: "";
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width:100%
}


  .icon {
    display: none;
  }
}
