.review-col{
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 2%;
    text-align: left;
    padding: 25px;
    cursor: pointer;
}


.review-col p {
    padding: 0;
    margin-left: 10px; 
} 

.review-col h3 {
  margin-left: 10px;  
} 

