.review-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.review-col img{
    height:60px; 
    width: 60px;
    object-fit: cover;
    margin-right: 5px;
    margin-left: 30px;
    border-radius:50%;
    image-resolution:initial;
}

.review-col p {
    padding: 0;
    margin-left: 10px; 
} 

.review-col h3 {
  margin-left: 10px;  
} 